body {
    font-family:sans-serif;
    background-color: #f7f9fa;
    padding: 20px;
}
.for {
  width: 900px;
  margin: 0 auto;
  background-color: #ebeaea;
}
.con {
    width: 300px;
    margin: 0 auto;   /* 中央配置 */
    text-align: left; /* 文字は左揃え */
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"],
textarea {
  width: 97%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #505050;
  border-radius: 4px;
}

select[name="sei"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #505050;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #ccdef1;
  color: #363636;
  border: 1px solid #505050;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #318eff;
  color: #e7e7e7;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e1f3ff;
  border: 1px solid black;
  color: #242424;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #318eff;
  color: #e8e8e8;
}